// * OpenEyes
// *

// Toolbar button.
// <a> (this shouldn't be an anchor)
.ed-button {
	position:relative;
	display: block;
	height: 32px;
	width: 32px;
	margin: 0;
	padding: 0;
	line-height: 1;
	
	background: #ddd;
	
	// darken the select doodles slightly
	.ed2-main-toolbar & {
		background: #ccc;
	}
	
	// Reset and Zoom in and out
	.ed2-drawing-controls & {
		background-color:transparent;
	}
	
	
	&:hover, 
	&.hover {
		background: #118afb;
	}

	&.disabled {
		cursor: default;
		background: #ddd;
		opacity: 0.5;
	}
	
	.label {
		display:none;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: $oe-z-ed-v2 + 3;
		white-space: nowrap;

		// match tooltip...
		color:$oe-text;
		background: $oe-tooltip-bg;
		padding: 4px 6px;
		@include boxshadow();
	}

	&:hover {
		.label {
			display:block;
		}
	}
	
	&:active, 
	.ed2-drawer-open > & {
		.label {
			display:none;
		}
	}
	
	&.disabled {
		&:hover {
			.label {
				display:none;
			}
		}
	}
	
	
}
